openai
python-dotenv
greennode-agentbase
msal
requests
aiohttp
botbuilder-core
botbuilder-schema
numpy<2
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
pypdf
sentence-transformers
tqdm
